header {
    background-color: lightpink;
    border: 1px solid #000000;
    height: 100px;
}
aside {
    background: lightskyblue;
    border: 1px solid #000000;
}
main {
    background: #f3f38f;
    border: 1px solid #000000;
}
footer {
    background-color: #2a2929;
    color: white;
    height: 50px;
}

.norm{
    background-color: red;
    color: pink;
    font-size: 2rem;
    display: none;
    top: 0;
    text-align: center;
    padding: 10px;
    position: fixed;
}

/* Meniu Stilius */
.meniu > a {
    color: black;
    text-decoration: none;
    padding: 5px 10px 5px 0;
    margin-right: 10px;
    border-right: 1px solid black;
    transition: all 1s ease-in-out;
    width: 100px;
}

.meniu > a:last-child {
    border-right: none;
}

.meniu > a:hover {
    color: blue;
    font-size: 1.5rem;
}